/.cache
/bin
/editor/java/trans
/editor/java/*/generated
/editor/*.generated.*
/include
/src-gen
/syntax/*.generated.*
/target
/trans/*.pp.generated.str
/lib/*.generated.*

/.classpath
/.project
/.settings
